In [1]:
import openpyxl
import pyarrow
import fastparquet
import pandas as pd
df_load = pd.read_parquet("/Users/eishitakalra/Desktop/Dissertation!!/Data/DissertationWoodMackenzieHydrogen/hourly_production_prices.parquet", engine='fastparquet')
print("Data loading complete!")

Data loading complete!

In [2]:
df_load.head()

,Region,Report_Year,Report_Month,Report_Day,Report_Hour,"Gross Load (including EV, H2) (MWh)",Net Load (MWh),Net Load after Storage (MWh),Solar (MWh),Wind Onshore (MWh),...,Energy Storage (MWh),Electric V2G (MWh),Coal (MWh),Gas (MWh),Hydro (MWh),Nuclear (MWh),Demand Response (MWh),Other (MWh),Net Trade (MWh),"Price (EUR/MWh, real 2025)"
0,Great Britain,2025,1,1,1,31329.33,10114.75,12869.75,0.0,8627.50,...,-2755.00,-274.5,0,3104.41,520.87,5057.33,0.0,4243.10,218.53,78.67
1,Great Britain,2025,1,1,2,31056.23,10708.50,13968.88,0.0,8275.06,...,-3260.39,-274.5,0,3104.41,512.27,5057.33,0.0,4275.43,1293.95,77.73
2,Great Britain,2025,1,1,3,29275.79,9069.94,14458.41,0.0,8216.80,...,-5388.47,-274.5,0,3104.41,512.27,5057.33,0.0,4258.89,1800.00,77.73
3,Great Britain,2025,1,1,4,28209.50,8008.26,14412.42,0.0,8215.35,...,-6404.16,-268.4,0,3104.41,512.27,5057.33,0.0,4206.81,1800.00,77.73
4,Great Britain,2025,1,1,5,27293.00,7210.83,14377.83,0.0,8167.29,...,-7166.99,-256.2,0,3104.41,512.27,5057.33,0.0,4160.01,1800.00,77.73

In [3]:
print(df_load[(df_load["Report_Day"] == 1) & (df_load["Report_Month"] == 1) & (df_load["Report_Year"] == 2025)][['Solar (MWh)','Report_Hour', "Wind Offshore (MWh)"]])

    Solar (MWh)  Report_Hour  Wind Offshore (MWh)
0          0.00            1             12587.08
1          0.00            2             12072.68
2          0.00            3             11989.05
3          0.00            4             11985.89
4          0.00            5             11914.89
5          0.00            6             11712.91
6          0.00            7             11774.45
7          0.00            8             11264.78
8          3.82            9             11231.65
9         99.34           10             11794.96
10       320.96           11             11884.91
11       550.21           12             11678.20
12       662.93           13             11586.68
13       525.37           14             11580.37
14       284.66           15             11081.74
15        55.40           16              9663.19
16         0.00           17              9477.00
17         0.00           18              9114.08
18         0.00           19              8572.85
19         0.00           20              8257.26
20         0.00           21              7692.37
21         0.00           22              7023.33
22         0.00           23              6374.80
23         0.00           24              5974.01

In [4]:
print(df_load.columns)

Index(['Region', 'Report_Year', 'Report_Month', 'Report_Day', 'Report_Hour',
       'Gross Load (including EV, H2) (MWh)', 'Net Load (MWh)',
       'Net Load after Storage (MWh)', 'Solar (MWh)', 'Wind Onshore (MWh)',
       'Wind Offshore (MWh)', 'Energy Storage (MWh)', 'Electric V2G (MWh)',
       'Coal (MWh)', 'Gas (MWh)', 'Hydro (MWh)', 'Nuclear (MWh)',
       'Demand Response (MWh)', 'Other (MWh)', 'Net Trade (MWh)',
       'Price (EUR/MWh, real 2025)'],
      dtype='object')

In [5]:
df_RE = df_load[["Report_Year","Report_Month","Report_Day","Report_Hour","Solar (MWh)","Wind Onshore (MWh)", "Wind Offshore (MWh)", "Price (EUR/MWh, real 2025)"]]
df_RE.head()

,Report_Year,Report_Month,Report_Day,Report_Hour,Solar (MWh),Wind Onshore (MWh),Wind Offshore (MWh),"Price (EUR/MWh, real 2025)"
0,2025,1,1,1,0.0,8627.50,12587.08,78.67
1,2025,1,1,2,0.0,8275.06,12072.68,77.73
2,2025,1,1,3,0.0,8216.80,11989.05,77.73
3,2025,1,1,4,0.0,8215.35,11985.89,77.73
4,2025,1,1,5,0.0,8167.29,11914.89,77.73

In [6]:
df_RE.loc[:, "Solar (kWh)"] = df_RE["Solar (MWh)"] * 1000
df_RE.loc[:, "Wind Offshore (kWh)"] = df_RE["Wind Offshore (MWh)"] * 1000
df_RE.loc[:, "Wind Onshore (kWh)"] = df_RE["Wind Onshore (MWh)"] * 1000
df_RE.loc[:, "Price (EUR/kWh, real 2025)"] = df_RE["Price (EUR/MWh, real 2025)"] * 1000
df_RE.head()

/var/folders/85/dwb0q_9j2fn8b25x10tcqqmw0000gn/T/ipykernel_20095/3996839355.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_RE.loc[:, "Solar (kWh)"] = df_RE["Solar (MWh)"] * 1000
/var/folders/85/dwb0q_9j2fn8b25x10tcqqmw0000gn/T/ipykernel_20095/3996839355.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_RE.loc[:, "Wind Offshore (kWh)"] = df_RE["Wind Offshore (MWh)"] * 1000
/var/folders/85/dwb0q_9j2fn8b25x10tcqqmw0000gn/T/ipykernel_20095/3996839355.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_RE.loc[:, "Wind Onshore (kWh)"] = df_RE["Wind Onshore (MWh)"] * 1000
/var/folders/85/dwb0q_9j2fn8b25x10tcqqmw0000gn/T/ipykernel_20095/3996839355.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_RE.loc[:, "Price (EUR/kWh, real 2025)"] = df_RE["Price (EUR/MWh, real 2025)"] * 1000

,Report_Year,Report_Month,Report_Day,Report_Hour,Solar (MWh),Wind Onshore (MWh),Wind Offshore (MWh),"Price (EUR/MWh, real 2025)",Solar (kWh),Wind Offshore (kWh),Wind Onshore (kWh),"Price (EUR/kWh, real 2025)"
0,2025,1,1,1,0.0,8627.50,12587.08,78.67,0.0,12587080.0,8627500.0,78670.0
1,2025,1,1,2,0.0,8275.06,12072.68,77.73,0.0,12072680.0,8275060.0,77730.0
2,2025,1,1,3,0.0,8216.80,11989.05,77.73,0.0,11989050.0,8216800.0,77730.0
3,2025,1,1,4,0.0,8215.35,11985.89,77.73,0.0,11985890.0,8215350.0,77730.0
4,2025,1,1,5,0.0,8167.29,11914.89,77.73,0.0,11914890.0,8167290.0,77730.0

In [7]:
df_Intensity = pd.read_excel('model_hourly_intensities_2025_H1_v1.xlsx',sheet_name='Hourly Data',skiprows=4,usecols="B:F")
df_Intensity = df_Intensity.merge(
    df_RE[['Report_Year', 'Report_Month', 'Report_Day', 'Report_Hour', 'Price (EUR/kWh, real 2025)']],
    on=['Report_Year', 'Report_Month', 'Report_Day', 'Report_Hour'],
    how='left'
)
print(df_Intensity.head())
df_RE = df_RE.drop(columns=['Price (EUR/kWh, real 2025)', 'Price (EUR/MWh, real 2025)','Solar (MWh)', 'Wind Onshore (MWh)','Wind Offshore (MWh)'])
print(df_RE.head())

   Report_Year  Report_Month  Report_Day  Report_Hour  Great Britain  \
0         2025             1           1            1          44.32
1         2025             1           1            2          45.45
2         2025             1           1            3          45.66
3         2025             1           1            4          45.70
4         2025             1           1            5          45.89

   Price (EUR/kWh, real 2025)
0                     78670.0
1                     77730.0
2                     77730.0
3                     77730.0
4                     77730.0
   Report_Year  Report_Month  Report_Day  Report_Hour  Solar (kWh)  \
0         2025             1           1            1          0.0
1         2025             1           1            2          0.0
2         2025             1           1            3          0.0
3         2025             1           1            4          0.0
4         2025             1           1            5          0.0

   Wind Offshore (kWh)  Wind Onshore (kWh)
0           12587080.0           8627500.0
1           12072680.0           8275060.0
2           11989050.0           8216800.0
3           11985890.0           8215350.0
4           11914890.0           8167290.0

In [8]:
df_Elctro_Costs = pd.DataFrame({
    'Technology': ['PEM','PEM','PEM','ALK','ALK','ALK','SOEC','SOEC','SOEC'],
    'Scale (kW)': [2000,20000,200000,2000,20000,200000,2000,20000,200000],
    'Balance of Stack ($/kW)': [867.0520341,846.7366522, 790.7136808, 672.5614143, 651.3272692, 597.4636084, 1590.532075, 1561.510838, 1503.745575],
    'Stack cappex': [578.0346894, 564.4911015, 527.1424539, 448.3742762, 434.2181795, 398.3090723, 1060.354717, 1041.007225, 1002.49705],
    'Balance of Plant ($/kW)': [ 237 , 209 ,158 , 468 , 414 , 313 , 595 , 467 , 341 ],
    'Engineering, Procurement & Construction costs ($/kW)': [951, 1169, 1547, 923, 1468, 1987, 703, 1294, 2182],
    'Owners costs ($/kW)': [235, 327, 423, 293, 456, 599, 184, 357, 577],
    'Total Installed Cost (TIC) ($/kW)': [2868, 3117, 3447, 2805, 3424, 3895, 4133, 4720, 5606],
})

df_Elctro = pd.DataFrame({
    'Type': ['PEM', 'ALK', 'SOEC'],
    'kWh/kg H2': [55.956916, 55.479739, 42.881849],
    'Minimum Load': [0.05, 0.1, 0.05],
    'Maximum Load': [ 1, 1, 1],
    'Stack Lifetime (hours)': [ 60000, 100000, 60000],
    'Efficiency degradation / year': [0.005, 0.0075, 0.005],
    'Fixed Opex percent': [0.03,0.03,0.03],
})

df_Battery = pd.DataFrame({
    'Type': ['Lithium Batteries'],
    'Capex ($/kWh)': [300],
    'Fixed Opex percent': [0.025],
    'Round trip efficiency': [0.85],
    'Duration (hrs)': [4],
})

# df_H2Store = pd.DataFrame({
#     'Type':
#     'Capex':
#     'Opex':
#     'Efficiency':
# })

df_PPA = pd.DataFrame({
    'Renewable Source': ['Solar PV', 'Wind Onshore', 'Wind Offshore'],
    'PPA Price (Â£/kWh)': [ 0.049, 0.0456, 0.0422],
})

In [9]:
def read_data():

    df_load = pd.read_parquet("/Users/eishitakalra/Desktop/Dissertation!!/Data/DissertationWoodMackenzieHydrogen/~$urly_production_prices.parquet", engine='fastparquet')

    df_RE = df_load[["Report_Year","Report_Month","Report_Day","Report_Hour","Solar (MWh)","Wind Onshore (MWh)", "Wind Offshore (MWh)", "Price (EUR/MWh, real 2025)"]]
    df_RE.loc[:, "Solar (kWh)"] = df_RE["Solar (MWh)"] * 1000
    df_RE.loc[:, "Wind Offshore (kWh)"] = df_RE["Wind Offshore (MWh)"] * 1000
    df_RE.loc[:, "Wind Onshore (kWh)"] = df_RE["Wind Onshore (MWh)"] * 1000
    df_RE.loc[:, "Price (EUR/kWh, real 2025)"] = df_RE["Price (EUR/MWh, real 2025)"] * 1000

    df_Intensity = pd.read_excel('model_hourly_intensities_2025_H1_v1.xlsx',sheet_name='Hourly Data',skiprows=4,usecols="B:F")

    df_Elctro_Costs = pd.DataFrame({
        'Technology': ['PEM','PEM','PEM','ALK','ALK','ALK','SOEC','SOEC','SOEC'],
        'Scale (kW)': [2000,20000,200000,2000,20000,200000,2000,20000,200000],
        'Balance of Stack ($/kW)': [867.0520341,846.7366522, 790.7136808, 672.5614143, 651.3272692, 597.4636084, 1590.532075, 1561.510838, 1503.745575],
        'Stack cappex': [578.0346894, 564.4911015, 527.1424539, 448.3742762, 434.2181795, 398.3090723, 1060.354717, 1041.007225, 1002.49705],
        'Balance of Plant ($/kW)': [ 237 , 209 ,158 , 468 , 414 , 313 , 595 , 467 , 341 ],
        'Engineering, Procurement & Construction costs ($/kW)': [951, 1169, 1547, 923, 1468, 1987, 703, 1294, 2182],
        'Owners costs ($/kW)': [235, 327, 423, 293, 456, 599, 184, 357, 577],
        'Total Installed Cost (TIC) ($/kW)': [2868, 3117, 3447, 2805, 3424, 3895, 4133, 4720, 5606],
    })

    df_Elctro = pd.DataFrame({
        'Type': ['PEM', 'ALK', 'SOEC'],
        'kWh/kg H2': [55.956916, 55.479739, 42.881849],
        'Minimum Load': [0.05, 0.1, 0.05],
        'Maximum Load': [ 1, 1, 1],
        'Stack Lifetime (hours)': [ 60000, 100000, 60000],
        'Efficiency degradation / year': [0.005, 0.0075, 0.005],
        'Fixed Opex percent': [0.03,0.03,0.03],
    })

    df_Battery = pd.DataFrame({
        'Type': ['Lithium Batteries'],
        'Capex ($/kWh)': [300],
        'Fixed Opex percent': [0.025],
        'Round trip efficiency': [0.85],
        'Duration (hrs)': [4],
    })

    # df_H2Store = pd.DataFrame({
    #     'Type':
    #     'Capex':
    #     'Opex':
    #     'Efficiency':
    # })

    df_PPA = pd.DataFrame({
        'Renewable Source': ['Solar PV', 'Wind Onshore', 'Wind Offshore'],
        'PPA Price (Â£/kWh)': [ 0.049, 0.0456, 0.0422],
    })

    return df_RE, df_Intensity, df_Elctro, df_Elctro_Costs, df_Battery, df_PPA


df_RE, df_Intensity, df_Elctro, df_Elctro_Costs, df_Battery, df_PPA = read_data()

TypeError: 'NoneType' object is not iterable

In [ ]:
# TO FIND REP PERIODS 

print(df_RE[(df_load["Report_Day"] == 1) & (df_load["Report_Month"] == 12) & (df_load["Report_Year"] == 2025)])
# 0-71 jan
# 744 - 815 feb
# 1416 - 1487 mar
# 2160 -2231 apr
# 2880 - 2951 may
# 3624 - 3695 jun
# 4344 -4415 jul
# 5088 - 5159 aug
# 5832 - 5903 sep
# 6552 - 6623 oct
# 7296 - 7367 nov
# 8016 - 8087 dec
df_repperiods = pd.DataFrame({
    'K': ['January','February','March','April','May','June','July','August','September','October','November','December'],
    'TB': [0,744,1416,2160,2880,3624,4344,5088,5832,6552,7296,8016],
    'TE': [71,815,1487,2231,2951,3695,4415,5159,5903,6623,7367,8087],
    'weights': [1/12,1/12,1/12,1/12,1/12,1/12,1/12,1/12,1/12,1/12,1/12,1/12],
})

      Report_Year  Report_Month  Report_Day  Report_Hour  Solar (kWh)  \
8016         2025            12           1            1          0.0
8017         2025            12           1            2          0.0
8018         2025            12           1            3          0.0
8019         2025            12           1            4          0.0
8020         2025            12           1            5          0.0
8021         2025            12           1            6          0.0
8022         2025            12           1            7          0.0
8023         2025            12           1            8          0.0
8024         2025            12           1            9          0.0
8025         2025            12           1           10     156810.0
8026         2025            12           1           11     887040.0
8027         2025            12           1           12    1591530.0
8028         2025            12           1           13    2043240.0
8029         2025            12           1           14    1790470.0
8030         2025            12           1           15     917470.0
8031         2025            12           1           16     142770.0
8032         2025            12           1           17          0.0
8033         2025            12           1           18          0.0
8034         2025            12           1           19          0.0
8035         2025            12           1           20          0.0
8036         2025            12           1           21          0.0
8037         2025            12           1           22          0.0
8038         2025            12           1           23          0.0
8039         2025            12           1           24          0.0

      Wind Offshore (kWh)  Wind Onshore (kWh)
8016           13703540.0           6427200.0
8017           12954380.0           6053270.0
8018           10313310.0           5431170.0
8019            8309210.0           4752070.0
8020            9113510.0           4488810.0
8021            8744640.0           4015950.0
8022            9993870.0           4136680.0
8023           11980860.0           4217170.0
8024           13022840.0           4202080.0
8025           14154180.0           4316100.0
8026           13625590.0           4352990.0
8027           13935520.0           4428440.0
8028           14323410.0           3942170.0
8029            7592380.0           2813680.0
8030           14367140.0           4119910.0
8031           14996510.0           3787900.0
8032           14781650.0           3462600.0
8033           13365090.0           3117180.0
8034           12672970.0           2771760.0
8035           11547330.0           2488380.0
8036           11081480.0           2508500.0
8037           11686140.0           2523590.0
8038           12001770.0           2382740.0
8039           12918260.0           2422980.0

In [21]:
# Figuring out how to turn electrolyser data to dictionaries for each parameter:

# print(df_Elctro.head())
# # df_Elctro.set_index('Type', inplace=True)
df_Elctro_index = df_Elctro.copy()
df_Elctro_index.set_index('Type', inplace=True)
Ez_kWh_per_kg = df_Elctro_index['kWh/kg H2'].to_dict()
# Ez_kWh_per_kg['PEM']
print(df_Elctro_index.head())
print(df_Elctro.head())

KeyError: "None of ['Type'] are in the columns"

In [17]:
# Figuring how to turn electrolyser cost data into dictionaries for each parameter and considering the diff capacities, interpolating:

# print(df_Elctro_Costs.head())
# df_interpolate = df_Elctro_Costs[df_Elctro_Costs['Technology'] == 'PEM']
# print(df_interpolate.head())
print(df_Elctro.head())
E = list(df_Elctro['Type'].unique())
print(E)
# Download interpolation library:
from scipy.interpolate import interp1d

# Initialise dictionaries for the interpolated values
Ez_Total_CAPEX_interp ={}
Ez_Stack_Replacement_interp ={}

# For each electrolyser create the interpolated values
for e in E:
    df_interpolate = df_Elctro_Costs[df_Elctro_Costs['Technology'] == e]

    # Total CAPEX costs for each electrolyser
    Ez_Total_CAPEX_interp[e] = interp1d(
        df_interpolate['Scale (kW)'],
        df_interpolate['Total Installed Cost (TIC) ($/kW)'],
        kind = 'linear',
        fill_value='extrapolate',
    )

    # Stack replacement costs for each electrolyser
    Ez_Stack_Replacement_interp[e] = interp1d(
        df_interpolate['Scale (kW)'],
        df_interpolate['Stack cappex'],
        kind = 'linear',
        fill_value='extrapolate',
    )

# function which gives the stack replacement or total capex for an electrolyser for a given size in kW
def get_interp_value(interp_dict, technology, size_kW):
    return float(interp_dict[technology](size_kW))

def get_interp_value(interp_dict, technology, size_kW):
    '''
    Input: 
    interp_dict: the interpolated dictionary you want to pull values from 
    technology: the electrolyser you want the data for 
    size_kW: the size of electrolyser you want the data for
    
    Output: the value from the inputted dictionary for the given size for given electrolyser
    '''
    return float(interp_dict[technology](size_kW))

   Type  kWh/kg H2  Minimum Load  Maximum Load  Stack Lifetime (hours)  \
0   PEM  55.956916          0.05             1                   60000
1   ALK  55.479739          0.10             1                  100000
2  SOEC  42.881849          0.05             1                   60000

   Efficiency degradation / year  Fixed Opex percent
0                         0.0050                0.03
1                         0.0075                0.03
2                         0.0050                0.03
['PEM', 'ALK', 'SOEC']

In [19]:
def interp(interp_dict, technology, size_kW):
    '''
    Input: 
    interp_dict: the interpolated dictionary you want to pull values from 
    technology: the electrolyser you want the data for 
    size_kW: the size of electrolyser you want the data for
    
    Output: the value from the inputted dictionary for the given size for given electrolyser
    '''
    return float(interp_dict[technology](size_kW))

In [22]:
print(df_PPA.head())
df_PPA_index = df_PPA.copy()
df_PPA_index.set_index('Renewable Source', inplace=True)
PPA = df_PPA_index['PPA Price (Â£/kWh)']
print(PPA['Solar PV'])

  Renewable Source  PPA Price (Â£/kWh)
0         Solar PV             0.0490
1     Wind Onshore             0.0456
2    Wind Offshore             0.0422
0.049

In [25]:
df_RE[df_RE['Report_Year'] == 2027 ]

,Report_Year,Report_Month,Report_Day,Report_Hour,Solar (kWh),Wind Offshore (kWh),Wind Onshore (kWh)
17520,2027,1,1,1,0.0,21929240.0,7874890.0
17521,2027,1,1,2,0.0,21975890.0,7791590.0
17522,2027,1,1,3,0.0,21928230.0,7484960.0
17523,2027,1,1,4,0.0,21867380.0,7451280.0
17524,2027,1,1,5,0.0,21775100.0,7261630.0
...,...,...,...,...,...,...,...
26275,2027,12,31,20,0.0,18767620.0,12621650.0
26276,2027,12,31,21,0.0,19808250.0,12381650.0
26277,2027,12,31,22,0.0,20733580.0,12123660.0
26278,2027,12,31,23,0.0,21255410.0,11881670.0
26279,2027,12,31,24,0.0,22035120.0,11679670.0

In [27]:
df_load = pd.read_parquet("/Users/eishitakalra/Desktop/Dissertation!!/Data/DissertationWoodMackenzieHydrogen/hourly_production_prices.parquet", engine='fastparquet')

df_RE = df_load[["Report_Year","Report_Month","Report_Day","Report_Hour","Solar (MWh)","Wind Onshore (MWh)", "Wind Offshore (MWh)", "Price (EUR/MWh, real 2025)"]].copy()
df_RE.loc[:, "Solar PV"] = df_RE["Solar (MWh)"] * 1000
df_RE.loc[:, "Wind Offshore"] = df_RE["Wind Offshore (MWh)"] * 1000
df_RE.loc[:, "Wind Onshore"] = df_RE["Wind Onshore (MWh)"] * 1000
df_RE.loc[:, "Price (EUR/kWh, real 2025)"] = df_RE["Price (EUR/MWh, real 2025)"] * 1000

df_Grid = pd.read_excel('model_hourly_intensities_2025_H1_v1.xlsx',sheet_name='Hourly Data',skiprows=4,usecols="B:F")
df_Grid.rename(columns={'Great Britain':'CO2 Intensity (g CO2/kWh)'},inplace=True)
# Putting Price of grid and Intensity of Grid into one df
df_Grid = df_Grid.merge(
    df_RE[['Report_Year', 'Report_Month', 'Report_Day', 'Report_Hour', 'Price (EUR/kWh, real 2025)']],
    on=['Report_Year', 'Report_Month', 'Report_Day', 'Report_Hour'],
    how='left'
)

# Delete data in MW/MWh and Price data from df_RE, only keep renewable data
df_RE = df_RE.drop(columns=['Price (EUR/kWh, real 2025)', 'Price (EUR/MWh, real 2025)','Solar (MWh)', 'Wind Onshore (MWh)','Wind Offshore (MWh)'])

# Change Grid data: EUR/kWh to Â£/kWh and g CO2 /kg H2 to kg CO2/ kg H2:
df_Grid['Price (Â£/kWh, real 2025)'] = df_Grid['Price (EUR/kWh, real 2025)']*0.854987068320592
df_Grid = df_Grid.drop(columns=['Price (EUR/kWh, real 2025)'])
df_Grid['CO2 Intensity (kg CO2/kWh)'] = df_Grid['CO2 Intensity (g CO2/kWh)']/1000
df_Grid = df_Grid.drop(columns=['CO2 Intensity (g CO2/kWh)'])

print(df_Grid)
# print(df_RE)

        Report_Year  Report_Month  Report_Day  Report_Hour  \
0              2025             1           1            1
1              2025             1           1            2
2              2025             1           1            3
3              2025             1           1            4
4              2025             1           1            5
...             ...           ...         ...          ...
227899         2050            12          31           20
227900         2050            12          31           21
227901         2050            12          31           22
227902         2050            12          31           23
227903         2050            12          31           24

        Price (Â£/kWh, real 2025)  CO2 Intensity (kg CO2/kWh)
0                   67261.832665                     0.04432
1                   66458.144821                     0.04545
2                   66458.144821                     0.04566
3                   66458.144821                     0.04570
4                   66458.144821                     0.04589
...                          ...                         ...
227899             154205.467642                     0.01338
227900             153854.922944                     0.01302
227901             154205.467642                     0.01194
227902             154205.467642                     0.01104
227903             154205.467642                     0.01069

[227904 rows x 6 columns]

In [42]:
# OOOOO FOUND AN INTERESTING WAY TO INDEX BY YEAR MONTH DAY HOUR ORRR BY INDEX

df_Grid_index = df_Grid.copy()
df_Grid_index.set_index(['Report_Year', 'Report_Month', 'Report_Day', 'Report_Hour'], inplace=True)

C_Grid_index = df_Grid_index['Price (Â£/kWh, real 2025)'].to_dict()
C_Grid = df_Grid['Price (Â£/kWh, real 2025)'].to_dict()
Int_Grid = df_Grid['CO2 Intensity (kg CO2/kWh)'].to_dict()

print(C_Grid_index[2025,1,1,1])
print(C_Grid[0])

67261.83266478097
67261.83266478097

In [ ]:
# re pulling out parameters:
df_RE.head()

# JUST CHECKing how to index PPAs
df_PPA.head()
df_PPA_index = df_PPA.copy()
df_PPA_index.set_index('Renewable Source', inplace=True)
PPA = df_PPA_index['PPA Price (Â£/kWh)']
PPA['Solar PV']

0.049